.AddTodoItem {
  display: inline;
}
.AddTodoItem-input {
  border: none;
  border-bottom: dotted 1px #777;
  color: #777;
  font-size: 1.5em;
  padding: 0.2em;
  width: 85%;
}
.AddTodoItem-input::placeholder {
  color: #aaa;
  font-style: italic;
}
