.AddTodoItem {
  display: inline;
}
.AddTodoItem-input {
  border: none;
  border-bottom: dotted 1px #777;
  color: #777;
  font-size: 1.5em;
  /* margin: 0.2em 0; */
  padding: 0.2em;
  width: 88%;
}
